<!-- 头部信息 -->
<header class="main-header">
	<nav class="navbar navbar-static-top">
		<!-- 图标 -->
    	<div class="navbar-header">
	      	<a href="${backstage_index!}" class="navbar-brand"> 
				<span class="logo-lg"><b><@spring.message 'common.logo'/></b> <@spring.message 'common.title'/></span>
			</a>
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        		<i class="fa fa-bars"></i>
      		</button>
    	</div>
		<!-- 导航栏 -->
		<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      		<ul class="nav navbar-nav">
      			<#if pageList??>
					<#list pageList as page>
						<!-- 一级目录 -->
						<li class="<#if (currentPageMap[((page.id)?string)!''])??>active</#if> <#if (page.childList)?? && ((page.url)!'') == ''>dropdown</#if>">
							<#if (page.url)?? && (page.url) != ''>
								<a href="${(page.url)!}"> ${(page.name)!}</a>
							<#else>
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">${(page.name)!} 
									<#if (page.childList)?? && ((page.url)!'') == ''>
										<span class="caret"></span>
									</#if>
								</a>
								<!-- 二级目录，若有三级目录，则将三级目录页面统一展示在二级页面 -->
								<#if (page.childList)?? && ((page.url)!'') == ''>
									<ul class="dropdown-menu" role="menu">
										<#list page.childList as childPage>
											<#if (childPage.url)?? && (childPage.url) != ''>
												<li><a href="${(childPage.url)!}"><i class="fa fa-circle-o"></i> ${(childPage.name)!}</a></li>
											<#else>
												<#if (childPage.childList)??>
													<#list childPage.childList as thirdPage>
														<li><a href="${(thirdPage.url)!}"><i class="fa  fa-circle-o"></i> ${(thirdPage.name)!}</a></li>
													</#list>
												</#if>
											</#if>
										</#list>
									</ul>
								</#if>
							</#if>
						</li>
					</#list>
				</#if>
      		</ul>
    	</div>
   		<!-- 用户设置 -->
      	<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
						<#if (user.headimage)?? && user.headimage != "">
							<img src="${(user.headimage)!}" class="user-image" alt="User Image" />
						<#else>					
							<img src="${template_url_cdn!}adminlte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" /> 
						</#if>
						<span class="hidden-xs">${(user.realname)!""}</span>
					</a>
					<ul class="dropdown-menu">
						<li class="user-header">
						<#if (user.headimage)?? && user.headimage != "">
							<img src="${(user.headimage)!}" class="img-circle" alt="User Image" />
						<#else>
							<img src="${template_url_cdn!}adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
						</#if>
							<p>
								<#if (user.realname)?? && (user.realname) != ''>
									${(user.realname)!}
								</#if>
								<small>${(user.company)!}</small>
							</p>
						</li>
						<li class="user-footer">
							<div class="pull-left">
								<a href="admin/user/info/index" class="btn btn-default btn-flat"><@spring.message 'common.setting'/></a>
							</div>
							<div class="pull-right">
								<a href="javascript:void(0)" onclick="logout()" class="btn btn-default btn-flat"><@spring.message 'login.logout'/></a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
<script type="text/javascript">
function logout() {
	zeroModal.confirm("<@spring.message 'common.confirm.logout'/>", function() {
		window.location.href = "logout";
	});
}
</script>