<!DOCTYPE html>
<html>
<head>
<title>404</title>
<base id="base" href="${project_context_path!}">
<meta charset="UTF-8">
<link href="${template_url_cdn!}adminlte/custom/error/error.css" rel="stylesheet" type="text/css"/>
</head>
<body style="background-color: #ECF0F5;">
 	<div class="content-wrapper">
	    <section class="content">
		  	<h1 class="error-heading" style="float: none;">404</h1>
			<p class="error-desc">您正在寻找的文件丢失了... 请联系相关人员</p>
			<p class="error-back"><a href="index">返回首页</a></p>
		</section>
	</div>
</body>
</html>